<div class="d-flex justify-content-center">
    <div class="col-md-4 text-center">
        <h4>Search</h4>
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <div style="display: inline-block; margin-top:10px;">
                <input type="submit" value="Search" class="btn btn-outline-success"/>
                <a asp-action="Index" class="btn btn-outline-primary" style="text-decoration: none;">Back to List</a>
            </div>
        </form>
    </div>
</div>
